@use "fonts";
@use "colors";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  height: 100vh;
  background-color: colors.$raisin-black;
  font-family: fonts.$main-font;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10px;
  max-width: 1200px;
  width: 100%;
  min-height: 1110px;
}

/* Tablet*/
@media screen and (max-width: 768px) {
  body{
    background-color: colors.$caribbean-current;
  }
  main {
    margin: 15px;
  }
}

/* Mobile */
@media screen and (max-width: 320px) {
  body{
    background-color: colors.$buff;
  }
  main {
    margin: 10px;
  }
}
